
@page "/"
@using THFontEnd.Models
@using THFontEnd.Services

@layout THFontEnd.Layout.DafaultLayout
@inject NavigationManager Navigation
@inject ITaskApiClient _apiService;
@inject IJSRuntime JS
@inject IToastService _toastService;
@inject LoginState _loginState;


@code {
	private bool showError;
	public void Login()
	{

	}

	private LoginModelRequest loginModel = new LoginModelRequest();

    private async Task HandleLogin()
    {
        try
        {
            var result = await _apiService.Login(loginModel.UserName, loginModel.Passwork);
            // save userID to localStorate
            await JS.InvokeVoidAsync("localStorageHelper.setUserId", result.UserId);
            await JS.InvokeVoidAsync("sessionStorage.setItem", "user", result.FullName);
            await JS.InvokeVoidAsync("sessionStorage.setItem", "role", result.RoleId);

            showError = false;

            // Giả lập xác thực người dùng
            if (result is { })
            {
                // Chuyển hướng đến trang chủ hoặc trang khác sau khi đăng nhập thành công
                Navigation.NavigateTo("/home");
                _loginState.SetState(true);
            }
            else
            {
                // Hiển thị thông báo lỗi khi đăng nhập sai
                showError = true;
            }
        }
        catch (Exception)
        {

            _toastService.ShowWarning("Không thể kết nối đến server.");
        }
       
    }
}

<!--user interface-->
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Đăng nhập hệ thống quản lý (登录系统)</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">
					<h3 class="mb-4 text-center">Chưa có tài khoản liên hệ admin (还没有帐号，请联系管理员)</h3>
					<EditForm class="signin-form" Model="loginModel" OnSubmit="HandleLogin">
						<DataAnnotationsValidator></DataAnnotationsValidator>
						<div class="form-group">
							<input type="text" class="form-control" @bind-value="loginModel.UserName" placeholder="Username" required>
						</div>
						<div class="form-group">
							<input id="password-field" type="password" @bind-value="loginModel.Passwork" class="form-control" placeholder="Password" required></input>
							<ValidationMessage For="()=>loginModel.Passwork"></ValidationMessage>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">Sign In (登录)</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								<label class="checkbox-wrap checkbox-primary">
									Remember Me
									<input type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="w-50 text-md-right">
								<a href="#" style="color: #fff">Forgot Password (忘记密码)</a>
							</div>
						</div>
					</EditForm>
					<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
					<div class="social d-flex text-center">
						<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
						<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
